{
  "extends": ["plugin:@fuels/base"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/export": "off",
    "import/default": "off",
    "no-console": "off"
  }
}
