# OS-specific files
.DS_Store

# Node.js dependencies and environment
node_modules
.env
.turbo

# IDE configurations
.idea

# Hardhat build files
cache
artifacts

# Rust/Cargo and Forc build artifacts
**/target
**/out

# Fuels typegen artifacts
packages/fungible-token/exports/types

# Dist folders
dist

# Verification CI artifacts
packages/solidity-contracts/verification.json
