# OS
.DS_Store
# Node.js
node_modules
.env
.turbo

# Misc
.idea
.DS_Store

# Hardhat files
cache
artifacts

# Cargo and Forc artifacts
out
target
*/out
*/target

# Genearal dist folders
dist

# fuel toolchain file (not needed as we use from ts-sdk)
fuel-toolchain.toml