# Node.js
node_modules
.env
.turbo
package.json

# Hardhat files
cache
artifacts
typechain
packages/solidity-contracts/deployments

# Cargo and Forc artifacts
out
target
*/out
*/target

# Genearal dist folders
dist

# Forc abi-typegen
packages/fungible-token/exports/types

## Ignore lock files
pnpm-lock.yaml
