[package]
name = "bridge-fungible-token-contract"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
publish = false

[dependencies]
# Dependencies from fuel-core repository:
fuel-core-types = { workspace = true }
# Dependencies from fuels-rs repository:
fuels = { workspace = true, features = ["fuel-core-lib"] }
hex = { workspace = true }

primitive-types = "0.12.1"
sha3 = "0.10.1"
tokio = { workspace = true }

[[test]]
harness = true
name = "integration_tests"
path = "tests/harness.rs"
