version: '3.4'

services:
  l1_chain:
    image: fueldev/l1chain:${DOCKER_TAG_L1_CHAIN:-latest}
    platform: linux/amd64
    build:
      dockerfile: ./docker/l1-chain/Dockerfile
      # Use build context of the root directory
      # to allow coping portal-contracts on Dockerfile
      context: ../
    env_file:
      - ./envs/l1_chain.env
    ports:
      # expose the service to the host for integration testing
      - ${L1_CHAIN_HTTP_PORT:-8545}:9545
      - ${DEPLOYMENTS_PORT:-8080}:8081

  fuel_core:
    depends_on:
      - l1_chain
    image: fueldev/fuelcore:${DOCKER_TAG_FUEL_CORE:-latest}
    platform: linux/amd64
    build:
      context: ./fuel-core/
    env_file:
      - ./envs/fuel_core.env
    environment:
      L1_CHAIN_HTTP: http://l1_chain:9545
      DEPLOYMENTS_HTTP: http://l1_chain:8081/deployments.local.json
    ports:
      # expose the service to the host for integration testing
      - ${FUEL_CORE_HTTP_PORT:-4000}:4001

  fuel_block_commiter:
    depends_on:
      - fuel_core
    image: fueldev/block-committer:${DOCKER_TAG_FUEL_CORE:-latest}
    platform: linux/arm64
    build:
      context: ./block-committer/
    env_file:
      - ./envs/block_committer.env
    environment:
      ETHEREUM_RPC: ws://l1_chain:9545/
      FUEL_GRAPHQL_ENDPOINT: http://fuel_core:4001
      DEPLOYMENTS_HTTP: http://l1_chain:8081/deployments.local.json
    ports:
      # expose the service to the host for integration testing
      - ${COMMITTER_HTTP_PORT:-8888}:8888

  tx_generator:
    depends_on:
      - fuel_core
      - l1_chain
    image: fueldev/tx-generator:${DOCKER_TAG_FUEL_CORE:-latest}
    build:
      context: ./tx-generator/
    environment:
      ETHEREUM_RPC: http://l1_chain:9545/
      FUEL_GRAPHQL_ENDPOINT: http://fuel_core:4001/graphql
