[package]
name = "base_asset_contract"
version = "0.1.0"
edition = "2021"
authors = ["Fuel Labs <contact@fuel.sh>"]
license = "Apache-2.0"

[dependencies]
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "macros"] }
fuels = { workspace = true }
clap = { version = "4.5.17", features = ["env", "derive"] }
rpassword = "5.0"

[dev-dependencies]
hex = { workspace = true }
sha2 = { workspace = true }

[[test]]
harness = true
name = "integration_tests"
path = "tests/harness.rs"

[[bin]]
name = "deploy_mainnet"
path = "scripts/deploy_mainnet.rs"